<a href="https://colab.research.google.com/github/pavanreddy8318/Python-Programming-Basic---advance/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Create a variable to store your name, age, and percentage. Print them in one line.
name=input("enter your name:")
age=input("enter your age:")
percentage=input("enter your percentage:")
print("hello,my name "+name  +age  +percentage)

enter your name:pavan
enter your age:20
enter your percentage:100
hello,my name pavan20100

In [12]:
#Assign the same value 100 to three different variables in a single line.
a=b=c=100
print(a,b,c)

100 100 100

In [14]:
#Swap two variables without using a third variable.
a=input("enter a value:")
b=input("enter b value:")
a,b=b,a
print("a=",a)
print("b=",b)

enter a value:10
enter b value:20
a= 20
b= 10

In [16]:
#Assign an integer value and then change it to a string. Print the type before and after.
value=1234
print(type(value))
value=str(value)
print(type(value))

<class 'int'>
<class 'str'>

In [17]:
#Create a variable x = 10. Increase its value by 5 using an assignment operator.
x=10
x+=5
print(x)

15

In [18]:
#SECTION 2: Data Types (Identify & Predict Output)
#Identify the data type of each:
a = 10
b = 10.5
c = "Python"
d = True
e = 3 + 4j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [19]:
x = "10"
y = 5
print(x * y)

1010101010

In [20]:
a = 5
b = 2
print(a / b)
print(a // b)

2.5
2

In [21]:
#Check whether a variable num = 25 is of type int using a built-in function.
num = 25
print(type(num) == int)

True

In [25]:
#Convert an integer 25 into:
#float
#string
value = int(input("enter a value:"))
print(float(value))
print(str(value))
print(type(str(value)))
print(type(float(value)))

enter a value:25
25.0
25
<class 'str'>
<class 'float'>

In [26]:
x = "Python"
print(int(x))
### while changing str into int that not convertable or not type casting
### while changing int into str that may convertable
### python is case senstive

ValueError: invalid literal for int() with base 10: 'Python'

In [27]:
print(True + True + False)
### why does this work?
### True = 1 False = 0
### 1+1+0 =2

2

In [28]:
#Take a boolean input and print its integer equivalent.
bool1 = True
print(int(bool1))

1

In [30]:
#Take a number as input (string format), convert it to integer, and check whether it is even or odd.
value = "9"
value1 = int(value)
if value1 % 2 == 0:
  print("even number")
else:
  print("odd number")

odd number

In [31]:
#Input a number as string. Convert it to float and find its square.
side = "10"
side1 = float(side)
print(side1**2)

100.0

In [33]:
#Convert "101" (binary string) into decimal integer.
conv = "101"
conv1 = int(conv,2)
print(conv1)

5